<head>
  <link type='text/css' rel="stylesheet" href="../assets/stylesheets/pages.css">
</head>

<header>
  
  <div class=navigation_menu>
    <ul>
  		<li>Home</li>
  		<li>About</li>
  		<li>Contact us</li>
		</ul>
  </div>
  <div class=name>
    Pieter Joubert
  </div>
</header>

<body>
  <div class=main>
    <div class=tagline>
      COMPOSING PORTFOLIOS
    </div>
    <button type="button">View my work</button>

  </div>
</body>

<footer>
  <p>Posted by: Pieter Joubert</p>
  <p>
    Folow us on: 
    <a href="https://www.flaticon.com/free-icon/github-logo_33600#term=github&page=1&position=1"></a>
    <a href="https://www.flaticon.com/free-icon/facebook-logo_33702"></a>
    <a href="https://www.flaticon.com/free-icon/linked-in-social-badge_27764#term=link&page=1&position=2"></a>
    <a href="https://www.flaticon.com/premium-icon/copyright_640831#term=copyright%20symbol&page=1&position=1"></a>
  
  </p>
</footer>

